.tile {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    /* height: 200px; */
    background-color: whitesmoke;
    box-shadow: 2vh 1vh 5vh lightgrey;
    cursor: pointer;
    border-radius: 1.5vh;
    padding: 15px;
}

.title {
    font-size: 14px;
    text-align: left;
    /* padding: 15px; */
}


.description {
    font-size: 12px;
    text-align: left;
    justify-content: center;
    color: grey;
    /* padding: 0 15px; */
}