.projects{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 480px){
.grid-container {
    display: grid;
    gap: 10px 10px;
    width: 50vw;
    height: 80vh;
    grid-template-rows:    repeat(4, 100px);
    grid-template-columns: repeat(3, 11fr);
    border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    row-gap: 20vh;
  }
}

.grid-item-1 :hover{
 background-color: rgb(231, 231, 231);
 transition: width .3s ease-in;
 border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
}

@media screen and (max-width: 480px){
  .grid-container {
      display: grid;
      justify-content: center;
      gap: 10px 10px;
      width: 50vw;
      height: 251vh;
      grid-template-columns: repeat(1, 11fr);
      border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    }
  }


