.header{
    display: flex;
    text-align: center;
    justify-content: center;
}

.h2{
/* font-weight: inherit; */
/* white-space: discard-inner; */
/* width: 300px; */
/* text-align: inherit; */
/* font-size: 30px; */
/* font-weight: inherit; */
}